# Downloading And Scraping The Contents Of A Web Page

In [14]:
# import needed packages
import pandas as pd 
import requests
from bs4 import BeautifulSoup

## 1. Scraping content of a webpage

In [15]:
# Download the contents of the web page
url = 'https://hang.kaijanaho.fi/'

In [16]:
# Use get to download the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text

In [17]:
# create a beautiful soup
soup = BeautifulSoup(data,'html.parser')

In [18]:
#Scraping all links
for link in soup.find_all('a',href=True):  
    print(link.get('href'))

#content
http://hang.kaijanaho.fi
https://hang.kaijanaho.fi/?page_id=31
https://hang.kaijanaho.fi/?cat=7
https://hang.kaijanaho.fi/?cat=36
https://hang.kaijanaho.fi/?cat=11
https://hang.kaijanaho.fi/?cat=38
https://hang.kaijanaho.fi/?cat=39
https://hang.kaijanaho.fi/?cat=22
https://hang.kaijanaho.fi/?page_id=104
https://www.facebook.com/ms.hangnguyen
https://www.instagram.com/ms.hangnguyen/
https://twitter.com/hangnguyen81
https://www.youtube.com/user/hangntt/videos
https://youpic.com/HannaKaijanaho
https://hang.kaijanaho.fi/
https://hang.kaijanaho.fi/?p=226
https://hang.kaijanaho.fi/?p=226
https://hang.kaijanaho.fi/?p=220
https://hang.kaijanaho.fi/?p=220
https://hang.kaijanaho.fi/?p=189
https://hang.kaijanaho.fi/?p=189
https://hang.kaijanaho.fi/?p=117
https://hang.kaijanaho.fi/?p=117
https://hang.kaijanaho.fi/?cat=35
https://hang.kaijanaho.fi/?cat=36
https://hang.kaijanaho.fi/?p=226
https://hang.kaijanaho.fi/?p=226
https://hang.kaijanaho.fi/?p=226
https://hang.kaijanaho.fi/?cat=22
https://hang.kaijanaho.fi/?p=220
https://hang.kaijanaho.fi/?p=220
https://hang.kaijanaho.fi/?p=220
https://hang.kaijanaho.fi/?cat=22
https://hang.kaijanaho.fi/?p=189
https://hang.kaijanaho.fi/?p=189
https://hang.kaijanaho.fi/?p=189
https://hang.kaijanaho.fi/?cat=7
https://hang.kaijanaho.fi/?cat=15
https://hang.kaijanaho.fi/?p=117
https://hang.kaijanaho.fi/?p=117
https://hang.kaijanaho.fi/?p=117
https://hang.kaijanaho.fi/?cat=7
https://hang.kaijanaho.fi/?cat=38
https://hang.kaijanaho.fi/?cat=11
https://hang.kaijanaho.fi/?p=91
https://hang.kaijanaho.fi/?p=91
https://hang.kaijanaho.fi/?paged=2
https://www.instagram.com/hanna.kaijanaho
https://www.instagram.com/p/CBBiAFJBAvF/
https://www.instagram.com/p/By_EXq9h_m_/
https://www.instagram.com/p/BtTLYzkBbW4/
https://www.instagram.com/p/BqSZ7VEhtGX/
https://www.instagram.com/p/Bpog4RmBo6z/
https://www.instagram.com/p/BpZd2OZAUMd/
https://www.instagram.com/p/BpYvZukgmMV/
https://www.instagram.com/p/BpU_s3GAInT/
https://www.instagram.com/p/Bo69ITrAUVM/
https://www.instagram.com/p/Boy4MyJgtHz/
https://www.instagram.com/p/BocbiMcAza1/
https://www.instagram.com/p/BoTD8T0AU30/
https://www.instagram.com/hanna.kaijanaho
https://hang.kaijanaho.fi/?p=226
https://hang.kaijanaho.fi/?p=220
https://hang.kaijanaho.fi/?p=189
https://hang.kaijanaho.fi/?p=117
https://hang.kaijanaho.fi/?p=91
https://hang.kaijanaho.fi/?cat=35
https://hang.kaijanaho.fi/?cat=7
https://hang.kaijanaho.fi/?cat=15
https://hang.kaijanaho.fi/?cat=38
https://hang.kaijanaho.fi/?cat=36
https://hang.kaijanaho.fi/?cat=39
https://hang.kaijanaho.fi/?cat=11
https://hang.kaijanaho.fi/?cat=22
https://hang.kaijanaho.fi/?tag=copenhagen
https://hang.kaijanaho.fi/?tag=daily-life
https://hang.kaijanaho.fi/?tag=denmark
https://hang.kaijanaho.fi/?tag=english
https://hang.kaijanaho.fi/?tag=family
https://hang.kaijanaho.fi/?tag=finland
https://hang.kaijanaho.fi/?tag=flowers
https://hang.kaijanaho.fi/?tag=food
https://hang.kaijanaho.fi/?tag=food-photography
https://hang.kaijanaho.fi/?tag=jyvaskyla
https://hang.kaijanaho.fi/?tag=nordic
https://hang.kaijanaho.fi/?tag=photography
https://hang.kaijanaho.fi/?tag=phan-lan
https://hang.kaijanaho.fi/?tag=seasons
https://hang.kaijanaho.fi/?tag=spring
https://hang.kaijanaho.fi/?tag=travel
https://hang.kaijanaho.fi/?tag=vietnamese
https://hang.kaijanaho.fi/?tag=xuan
http://hang.kaijanaho.fi
https://hang.kaijanaho.fi/?page_id=31
https://hang.kaijanaho.fi/?cat=7
https://hang.kaijanaho.fi/?cat=36
https://hang.kaijanaho.fi/?cat=11
https://hang.kaijanaho.fi/?cat=38
https://hang.kaijanaho.fi/?cat=39
https://hang.kaijanaho.fi/?cat=22
https://hang.kaijanaho.fi/?page_id=104
http://antti-juhani.kaijanaho.fi/newblog/
https://trangvivi.wordpress.com
https://blognhatitun.com
http://creativecommons.org/licenses/by-nc-nd/4.0/
http://creativecommons.org/licenses/by-nc-nd/4.0/
https://hang.kaijanaho.fi/?m=201808
https://hang.kaijanaho.fi/?m=201807
https://hang.kaijanaho.fi/?m=201806
https://hang.kaijanaho.fi/?m=201805
http://wordpress.org/
https://alienwp.com/

In [19]:
# Scrape all images Tags
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

<img alt="" height="50" src="https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/35280256_224372838151765_6592363118154743808_n.jpg?_nc_ht=scontent.cdninstagram.com&amp;_nc_ohc=8y3jCaoPrp4AX9A93oY&amp;oh=d2585664ab1e3882a20962184820ed39&amp;oe=5F24F0F3" width="50"/>
https://scontent.cdninstagram.com/v/t51.2885-19/s150x150/35280256_224372838151765_6592363118154743808_n.jpg?_nc_ht=scontent.cdninstagram.com&_nc_ohc=8y3jCaoPrp4AX9A93oY&oh=d2585664ab1e3882a20962184820ed39&oe=5F24F0F3
<img alt="Apple flowers ðŸ™‚" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="HyvÃ¤Ã¤ juhanusta ðŸ˜ŠðŸ¤—" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Land of snowâ„ï¸JyvÃ¤skylÃ¤, Finland
.
.
.
#visitfinland #visitjyvaskyla #2019 #winter2019" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="I was back to Tampere last week. Itâ€™s still lovely place like I remember ðŸ˜ The branches of tree in sunset sky ðŸ˜˜" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="#throwbackthursday in autumn ðŸ‚
Well-done JyvÃ¤skylÃ¤ and Finland ðŸ‡«ðŸ‡® This is a beautiful sign put along nice path around JyvÃ¤s lake. It belongs to a project aiming to encourage people do more workout outdoor by adding fitness points and equipment along walk route ðŸ˜€" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Melting snow ðŸ˜Š and pure beauty of snow ice." height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="First snow â„ï¸ and winter is coming ðŸ˜€ I was excited when seeing flying snow â„ï¸ in the sky. How about you? ðŸ˜‰" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Sunset in late autumn ðŸ‚
.
.
.
#ainolanranta #jyvaskyla #jyvÃ¤skylÃ¤ #finland #suomi" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Amazing lake view ðŸ‚ JyvÃ¤s lake in golden autumn ðŸ" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Very calmly morning landscape! View from Kuokkala bridge. It was a bit cloudy but still beautiful and peaceful ðŸ˜€" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Miss Autumn ðŸ‚ðŸ˜Š" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Lavender in early autumn morning ðŸ˜Š" height="200" src="https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png" width="200"/>
https://hang.kaijanaho.fi/wp-content/plugins/instagram-feed/img/placeholder.png
<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" style="border-width:0"/>
https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png

## 2. Scrape data from HTML tables

In [20]:
# Partital List of HTML5 Supported Colors: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html

url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html'
table_data = requests.get(url).text
soup =  BeautifulSoup(table_data,'html.parser')

In [21]:
#find a html table in the web page
table = soup.find('table')

In [22]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

## 3.Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [23]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"
data_wp = requests.get(url).text
soup = BeautifulSoup(data_wp,'html.parser')

In [24]:
#find all html tables in the web page
tables = soup.find_all('table')

In [25]:
#How many tables were found by checking the length of the tables list
len(tables)

26

In [26]:
# Assume that we are looking for the 10 most densly populated countries table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [27]:
#Locate the table name of the table, 10 most densly populated countries, check its structure
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="2880" data-file-width="4320" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    170,440,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,184
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,580,000
   </td>
   <td>
    41,526
   </td>
   <td>
    423
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,330,000
   </td>
   <td>
    22,072
   </td>
   <td>
    423
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,375,350,000
   </td>
   <td>
    3,287,240
   </td>
   <td>
    418
   </td>
  </tr>
 </tbody>
</table>

In [28]:
#Scrape data from HTML tables into a DataFrame
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1    Â Singapore      5,704,000        710   8,033
1    2   Â Bangladesh    170,440,000    143,998   1,184
2    3      Â Lebanon      6,856,000     10,452     656
3    4       Â Taiwan     23,604,000     36,193     652
4    5  Â South Korea     51,781,000     99,538     520
5    6       Â Rwanda     12,374,000     26,338     470
6    7        Â Haiti     11,578,000     27,065     428
7    8  Â Netherlands     17,580,000     41,526     423
8    9       Â Israel      9,330,000     22,072     423
9   10        Â India  1,375,350,000  3,287,240     418

## 4. Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

In [29]:
# Use the pandas function read_html and give it the string version of the table 
# The function read_html always returns a list of DataFrames so we must pick the one we want out of the list.
population_data_top10 = pd.read_html(str(tables[table_index]))[0]
population_data_top10

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170440000     143998              1184
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17580000      41526               423
8     9       Israel     9330000      22072               423
9    10        India  1375350000    3287240               418

## 5.Scrape data from HTML tables into a DataFrame using read_html

In [30]:
# also use the read_html function to directly get DataFrames from a url.
url = 'https://en.wikipedia.org/wiki/World_population'
#list of dataframe from that url
df_list = pd.read_html(url)
#How many dataframes?
len(df_list)

26

In [31]:
df_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   170440000     143998              1184
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17580000      41526               423
8     9       Israel     9330000      22072               423
9    10        India  1375350000    3287240               418